<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset = 'utf-8'>
        <link rel = 'stylesheet' href='/stylesheets/style.css'/>
        <script src = "/javascripts/jquery-3.6.0.min.js"></script>
        <script>
            $(function(){
                $("#btnJoin").click(
                    function(){
                        if($("#title").val() == ""){
                            alert("제목을 꼭 입력 하세요");
                            $("#title").focus();
                            return;
                        }

                        // var genre = $("#genre").val()

                        if($("#author").val() == ""){
                            alert("저자를 꼭 입력 하세요");
                            $("#passwd").focus();
                            return;
                        }
                        if($("#publisher").val() == ""){
                            alert("출판사를 꼭 입력 하세요");
                            $("#name").focus();
                            return;
                        }
                        if($("#content").val() == ""){
                            alert("줄거리를 꼭 입력 하세요");
                            $("#content").focus();
                            return;
                        }
                        if($("#price").val() == ""){
                            alert("가격을 꼭 입력하세요");
                            $("#price").focus();
                            return;
                        }
                        if(isNaN($("#price").val())){
                            alert("가격은 숫자만 입력하세요");
                            $("#priceb").focus();
                            return;
                        }

                        $("#bookDetailPage").submit();
                });
            });
        </script>
    </head>
    <body>
        <h1><%=title %></h1>
        <form id = "bookDetailPage" action = "/book/detail" method = "post">
            <table width = "1000" border = "2">
                <tr>
                    <th>제목</th>
                    <td><input type = "text" name = "title" id = "title" size = "200" maxlength = "200"> </td>
                </tr>
                <tr>
                    <th>장르</th>
                    <!-- <td>
                        <input type = "hidden" name = "genre" id = "genre">
                        <select name = "genre" id = "genre">
                            <option value = "A">A</option>
                            <option value = "B">B</option>
                            <option value = "C">C</option>
                            <option value = "D">D</option>
                        </select>
                    </td> -->
                    <td><input type = "text" name = "genre" id = "genre" size = "10" maxlength = "10"> </td>
                </tr>
                <tr>
                    <th>가격</th>
                    <td><input type = "number" name = "price" id= "price" size="10" maxlength="10"></td>
                </tr>
                <tr>
                    <th>줄거리</th>
                    <td><input type = "text" name = "content" id = "content" size="1000" maxlength="1000" ></td>
                </tr>
                <!-- <form id="form" action="/upload" method="post" enctype="multipart/form-data">
                    <tr>
                        <th>표지</th>
                        <td>
                            <img src="/images/uploads/">
                            <br>
                            <input type="file" id="image" name="image" required/>
                        </td>
                    </tr>
                    <input type="file" name="image1" />
                    <input type="file" name="image2" />
                    <input type="text" name="title" />
                    <button type="submit">업로드</button>
                </form>
                  <script>
                    document.getElementById('form').addEventListener('submit', (e) => {
                      e.preventDefault();
                      const formData = new FormData();
                      formData.append('image', e.target.image.files[0])
                      formData.append('title', e.target.title.value)
                      axios.post('/book/detail', formData);
                    });
                  </script> -->
                <tr>
                    <th>저자</th>
                    <td><input type = "text" name = "author" id = "author" size = "50" maxlength = "50"> </td>
                </tr>
                <tr>
                    <th>출판사</th>
                    <td><input type = "text" name = "publisher" id = "publisher" size = "50" maxlength = "50"> </td>
                </tr>
                <!-- 아래는 판매자용 상세 페이지에 필요 -->
                <tr>
                    <td colspan="4">
                        <input type = "button" id = "btnJoin" name = "join" value = "등록">
                        <!-- 이미지는 아직... button으로 바꾸면 이미지도 업로드 되어야 등록 -->
                        <button type = "submit">수정</button>
                        <button type = "submit">삭제</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>