<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset = 'utf-8'>
        <link rel = 'stylesheet' href='/stylesheets/style.css'/>
        <script src = "/javascripts/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <form id = "chooseForm" action = "/login" method = "post">
            <tr>
                <td colspan="3">
                    <input type = "button" id = "회원가입" name = "회원가입" value = "회원가입" onclick="location.href = '/join'">
                    <input type = "button" id = "아이디 찾기" name = "아이디 찾기" value = "아이디 찾기" onclick="location.href = '/join/seller'">
                    <input type = "button" id = "비밀번호 찾기" name = "비밀번호 찾기" value = "비밀번호 찾기" onclick="location.href = '/join/employee'">
                </td>
            </tr>
        </form>
        <br></br>
        <h1><%=title %></h1>
        <form id = "login" action = "/login" method = "post">
            <tr>
                <th>아이디</th>
                <td><input type = "text" name = "id" id = "id" size = "12" maxlength = "12"> </td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td><input type = "password" name = "passwd" id = "passwd" size = "12" maxlength = "12"> </td>
            </tr>
        </form>
    </body>
</html>