<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>idCheckForm.jsp</title>

</head>
<body>
    <form id="idCheckForm" action="/join/idCheckForm" method="post" onsubmit="return blankCheck(this)">
        가입 경로 : <select name="division" >
            <option value="customer" selected>구매자</option>
            <option value="seller">판매자</option>
            <option value="manager">관리자</option>
          </select><br><br>
        아이디 : <input type="text" name="id" id="id" maxlength="10" autofocus>
        <input type="submit" value="중복확인">
    </form>
    
    <script>
    function blankCheck(f){
    	var id=f.id.value;
        id=id.trim();
        if(id.length<1){
        	alert("아이디를 입력해주십시오.");
            return false;
        }//if end
        opener.document.getElementById("cust_id").value=document.getElementById("id").value;
        return true;
    }//blankCheck() end
    </script>
 </body>
 </html>