<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body>
      <h1><%= title %></h1>
      <form id="joinForm" action="/join" method="post">
        <table width="400" border="1">
          <tr>
            <td>원하는 가입 경로를 선택하세요!</td>
          </tr>          
          <tr>
            <td>
              <button type="button" onClick="location.href='join/customer'">구매자</button>
              <button type="button" onClick="location.href='join/seller'">판매자</button>
              <button type="button" onClick="location.href='join/employee'">관리자</button>
            </td>
          </tr>
        </table>
      </form>
    </body>
</html>
