<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset = 'utf-8'>
        <link rel = 'stylesheet' href='/stylesheets/style.css'/>
        <script src = "/javascripts/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h1>결제가 완료되었습니다!!! ^^</h1>
        <tr>
            <td colspan = "2">
                <button type = "submit"><a href = "/">메인 페이지로 이동!!</button>
                <button type = "submit"><a href = "/book">쇼핑 계속하기!!</button>
            </td>
        </tr>
    </body>
</html>